<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="https://prenetics.com/img/1FjkzZP3dqaC2A68EgGIMS_en-US.ico")
    title= title || 'Prenetics'

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css")
    style.
      [v-cloak] { display: none; }

  body.bg-grey-lighter
    #app
      block body

    block scripts
      script(src=manifest['commons.js'])
