extends ./layout

block body
  .flex.justify-center.pt-16.h-screen
    .w-full.max-w-sm
      .px-8.pt-6.pb-8.mb-4.text-center
        img(src="https://prenetics.com/img/10Tbkl9Hii2G2YUqSEA2ko_en-US.png", alt="logo")
      form.bg-white.rounded.px-8.pt-6.pb-8.mb-4(@submit="onSubmit")
        div(v-cloak)
          .bg-red-lightest.border-l-4.border-red.text-red-dark.p-4.mb-4(role='alert' v-show="message")
            p {{ message }}
            ul(v-if="details.length > 0")
              li(v-for="detail in details") {{ detail }}
        .mb-4
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='email')
            | Email
          input#email.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
            class='focus:outline-none focus:border-green',
            name="email"
            type='email',
            required,
            placeholder='Username',
            v-model="email"
          )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='password')
            | Password
          input#password.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            class='focus:outline-none focus:border-green',
            name="password"
            type='password',
            required,
            placeholder='*******'
            v-model="password"
          )
        .flex.items-center.justify-between
          button.bg-green.text-white.font-bold.py-3.px-4.rounded(
            class='hover:bg-green-dark focus:outline-none focus:border-green',
            type='submit',
            v-cloak
          )
            | {{ loading ? 'Loading...' : 'Sign in' }}
          a.inline-block.align-baseline.font-bold.text-sm.text-green(class="hover:text-green-darker no-underline" href="/register")
            | Register

      p.text-center.text-grey.text-xs
        | ©2018 Prenetics. All rights reserved.

block append scripts
  script(src=manifest['login.js'])
