extends ./layout

block body
  .flex.justify-center.pt-16.h-screen
    .w-full.max-w-sm
      .px-8.pt-6.pb-8.mb-4.text-center
        img(src="https://prenetics.com/img/10Tbkl9Hii2G2YUqSEA2ko_en-US.png", alt="logo")
      form.bg-white.rounded.px-8.pt-6.pb-8.mb-4(@submit="onSubmit")
        div(v-cloak)
          .bg-red-lightest.border-l-4.border-red.text-red-dark.p-4.mb-4(role='alert' v-show="message")
            p {{ message }}
        .mb-4
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='first_name')
            | First name
          input#first_name.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
            class='focus:outline-none',
            type='text',
            placeholder='John',
            v-model="first_name"
          )
        .mb-4
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='last_name')
            | Last name
          input#last_name.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
            class='focus:outline-none',
            type='text',
            placeholder='Doe',
            v-model="last_name"
          )
        .mb-4
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='email')
            | Email
          input#email.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
            class='focus:outline-none',
            type='email',
            required,
            placeholder='Username',
            v-model="email"
          )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='password')
            | Password
          input#password.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            class='focus:outline-none',
            type='password',
            required,
            placeholder='*******'
            v-model="password"
          )
        input#policy_code(type="hidden" name="policy_code" value=policy_code)
        .flex.items-center.justify-between
          button.bg-green.text-white.font-bold.py-3.px-4.rounded(
            class='hover:bg-green-dark focus:outline-none focus:shadow-outline',
            type='submit',
            v-cloak
          )
            | {{ loading ? 'Loading...' : 'Register' }}
          a.inline-block.align-baseline.font-bold.text-sm.text-green(class="hover:text-green-darker no-underline" href="/login")
            | Login

      p.text-center.text-grey.text-xs
        | ©2018 Prenetics. All rights reserved.

block append scripts
  script(src=manifest['register.js'])
