extends layout

block body
  .flex.justify-center.pt-16.h-screen
    .w-full.max-w-md
      .px-8.pt-6.pb-8.mb-4.text-center
        h1 User Settings
      form.bg-white.rounded.px-8.pt-6.pb-8.mb-4(@submit="onSubmit")
        div(v-cloak)
          .bg-red-lightest.border-l-4.border-red.text-red-dark.p-4.mb-4(role='alert' v-show="message")
            p.mb-3 {{ message }}
            ul.pl-4(v-if="details.length > 0")
              li(v-for="detail in details") {{ detail.messages.join(',') }}
        .flex.flex-wrap.-mx-3(class="md:mb-6")
          div.w-full.px-3.mb-6(class="md:w-1/2 md:mb-0")
            label.block.text-grey-darker.text-sm.font-4old.mb-2.pr-4(for='first_name')
              | First Name
            input#first_name.appearance2none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
              class='focus:outline-none focus:border-green',
              name='first_name',
              type='text',
              placeholder='John',
              v-model="user.first_name"
            )
          div.w-full.px-3.mb-6(class="md:w-1/2 md:mb-0")
            label.block.text-grey-darker.text-sm.font-bold.mb-2.pr-4(for='last_name')
              | Last Name
            input#last_name.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.leading-tight(
              class='focus:outline-none focus:border-green',
              name='last_name',
              type='text',
              placeholder='Doe',
              v-model="user.last_name"
            )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='email')
            | Email
          input#email.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            class='focus:outline-none focus:border-green',
            v-model='user.email',
            name="policy_code",
            type='email',
            required
          )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='genetic_result')
            | Genetic Result
          textarea#genetic_result.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            :class="['focus:outline-none', 'focus:border-green', errors.genetic_result ? 'border-red' : '']",
            v-model='user.genetic_result',
            name="genetic_result",
            type='text',
            required
          )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='date_of_birth')
            | Date of birth
          input#date_of_birth.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            class='focus:outline-none focus:border-green',
            v-model='user.date_of_birth',
            name="date_of_birth",
            type='date',
            required
          )
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='policy_code')
            | Policy Code
          input#policy_code.appearance-none.border.rounded.w-full.py-3.px-4.text-grey-darker.mb-3.leading-tight(
            class='focus:outline-none focus:border-green',
            v-model='user.policy_code',
            name="policy_code",
            type='text',
            min='8',
            max='8',
            required
          )
        .flex.items-center.justify-between
          div(class="md:w-1/3 md:mr-auto md:ml-auto sm:w-full")
            button.bg-green.text-white.font-bold.py-3.px-4.rounded.block.w-full(
              class='hover:bg-green-dark focus:outline-none focus:border-green',
              type='submit',
              v-cloak
            )
              | {{ loading ? 'Loading...' : 'Save' }}

block append scripts
  script(src=manifest['settings.js'])
